<% title "Tutorials" %>
<% for tutorial in @tutorials %>
	
		<div class="grid-8">
			<h3><%=tutorial.title%></h3>
			
			<p class="">
				<%=link_to "Up", "tutorials/upvote/"+tutorial.id.to_s %>
				<%=tutorial.upvotes - tutorial.downvotes%>
				<%=link_to "Down", "tutorials/downvote/"+tutorial.id.to_s %>
			</p>
		
		<%#
		<div>
			<p>tutorial.article</p>
		</div>
		%>
		
			<%= link_to "Show", tutorial %></td>
			<hr/>
		</div>
		
	
<%end%>



<!--<table>
  <tr>
    <th>Title</th>
    <th>Article</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
  </tr>
  <% for tutorial in @tutorials %>
    <tr>
      <td><%= tutorial.title %></td>
      <td><%= tutorial.article %></td>
      <td><%= tutorial.upvotes %></td>
      <td><%= tutorial.downvotes %></td>
      <td><%= link_to "Show", tutorial %></td>
	  <%if !current_user.nil?%>
			<%if tutorial.user_id == current_user.id%>
				<td><%= link_to "Edit", edit_tutorial_path(tutorial) %></td>
				<td><%= link_to "Destroy", tutorial, :confirm => 'Are you sure?', :method => :delete %></td>
			<%end%>
		<%end%>
    </tr>
  <% end %>
</table>-->

<p class="clearfix"><%= link_to "New Tutorial", new_tutorial_path(tutorial) %></p>
