<% title "Exercises" %>
<% for exercise in @exercises %>
	
		<div class="grid-8">
			<h3><%=exercise.title%></h3>
			
			<p class="">
				<%=link_to "Up", "exercises/upvote/"+exercise.id.to_s %>
				<%=exercise.upvotes - exercise.downvotes%>
				<%=link_to "Down", "exercises/downvote/"+exercise.id.to_s %>
			</p>
		
		<%#
		<div>
			<p>exercise.article</p>
		</div>
		%>
		
			<%= link_to "Show", exercise %></td>
			<hr/>
		</div>
		
	
<%end%>



<!--<table>
  <tr>
    <th>Title</th>
    <th>Article</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
  </tr>
  <% for exercise in @exercises %>
    <tr>
      <td><%= exercise.title %></td>
      <td><%= exercise.article %></td>
      <td><%= exercise.upvotes %></td>
      <td><%= exercise.downvotes %></td>
      <td><%= link_to "Show", exercise %></td>
	  <%if !current_user.nil?%>
			<%if exercise.user_id == current_user.id%>
				<td><%= link_to "Edit", edit_exercise_path(exercise) %></td>
				<td><%= link_to "Destroy", exercise, :confirm => 'Are you sure?', :method => :delete %></td>
			<%end%>
		<%end%>
    </tr>
  <% end %>
</table>-->

<p><%= link_to "New Tutorial", new_exercise_path(exercise) %></p>
