<% title "Exercise" %>

<p>
  <strong>Created By:</strong>
  <%= @exercise.created_by %>
</p>
<p>
  <strong>Section:</strong>
  <%= @exercise.section %>
</p>
<p>
  <strong>Title:</strong>
  <%= @exercise.title %>
</p>
<p>
  <strong>Article:</strong>
  <%= @exercise.article %>
</p>
<p class="">
				<%=link_to "Up", "upvote/"+@exercise.id.to_s %>
				<%=@exercise.upvotes - @exercise.downvotes%>
				<%=link_to "Down", "downvote/"+@exercise.id.to_s %>
</p>

<p>
  <%= link_to "Edit", edit_exercise_path(@exercise) %> |
  <%= link_to "Destroy", @exercise, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", exercises_path %>
</p>
