<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Coder's Guild" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "grid"%>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "nav.js" %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"%>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="body" class="container-12">
			<div id="header" class="grid-8 push-2 clearfix">
				<h1>The Coder's Guild;</h1>
			</div>
			<div id="nav" class="grid-2">
				<%= render('layouts/nav')%>
			</div>
			<div id="content" class="grid-8">
				<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
				<%= content_tag :h1, yield(:title) if show_title? %>
				<%= yield %>
			</div>
			
            <div id="footer">
            </div>
	    </div>
	</body>
</html>
